
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 20px;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 24px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.profile {
    flex: 1;
    text-align: center;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.segi1 {
    display: inline-block;
    margin-left: 35%;
    text-align: center;
}
.segi2 {
    display: inline-block;
    margin-left: 30%;
    text-align: center;
}
ul {
    text-align: left;
}

.self {
    flex: 1;
    padding: 50px;
    background-color: hsl(36, 80%, 73%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    text-align: center;
    font-size: large;
}

.from {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.from input[type="text"],
.from textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.from input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.from input[type="submit"]:hover {
    background-color: hsl(214, 72%, 60%);
}

.error {
    color: red;
}

.footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer h3 {
    margin-bottom: 10px;
}

.footer table {
    width: 100%;
    border-collapse: collapse;
}

.footer th,
.footer td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.footer th {
    background-color: #333;
    color: #fff;
}
